nav.nav {
    color: rgb(53, 51, 165);
    background-color: rgb(140, 233, 233);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    height: 100px;
}

a#current {
    font-weight: bold;
    background-color: rgb(53, 51, 165);
    color: rgb(140, 233, 233);
    width: 30%;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

a#other {
    color: rgb(53, 51, 165);
    width: 200px;
    text-align: center;
    width: 30%;
    padding: 20px;
    margin: 10px;
    text-decoration : none;
}

div.task {
    display: flex;
    flex-direction: column;
    color: rgb(63, 23, 207);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div#task_data {
    margin-top: 15px;
    background-color: rgb(209, 255, 255);
    padding: 10px;
}

input#button {
    margin: 10px;
}