<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <form method="POST" action="/register">
        <h3>Register form</h3>
       <input type="text" name="key1" placeholder="username" />
       <input type="text" name="key2" placeholder="password" />
       <input type="submit" />
    </form>
    <form method="POST" action="/signin">
        <h3>Signin form</h3>
       <input type="text" name="username" placeholder="username" />
       <input type="text" name="password" placeholder="password" />
       <input type="submit" />
    </form>
    <form method="POST" action="/signout">
     <h3>Signout form</h3>
    <input type="submit" />
    </form>
    <p><a href="/user">User information</a></p>
    <p><a href="/user/task">User tasks</a></p>
</body>
</html>
