<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>EPYTODO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript">
      function redirect_taskid() {
          window.location.href = "/user/task/" + document.getElementById("taskid").value;
      }
      function redirect_update_taskid() {
          document.getElementById("update_task").action = "/user/task/" + document.getElementById("uptaskid").value;
          document.getElementById("update_task").submit()
      }
      function redirect_remove_taskid() {
          document.getElementById("remove_task").action = "/user/task/del/" + document.getElementById("del_taskid").value;
          document.getElementById("remove_task").submit()
      }
    </script>
  </head>
  <body class = "background">
    
    <header class = "title">EPYTODO</header>

    <div class = "login">
      
      <form method="POST" action="/register_redirect" class = "login">
      
        <p id = "register">Register</p>
        <input id = "register" type="text" name = "username" placeholder="Username" />
        <input id = "register" type="password" name = "password" placeholder="Password" />
        <input id = "register" type="submit" value = "Register"/>

      </form>
      
      <form method="POST" action="/signin_redirect" class = "login">
      
        <p id = "signin">Sign in</p>
        <input id = "signin" type="text" name="username" placeholder="Username" />
        <input id = "signin" type="password" name="password" placeholder="Password" />
        <input id = "signin" type="submit" value = "Sign in"/>
      
      </form>
   
    </div>

  </body>
</html>
